{% extends 'base.html.twig' %}
{% block title %}Catégorie{% endblock %}
{% block body %}
    <div class="container">
        <h1>{{ categorie.name }}</h1>
        
            <div class="row row-cols-1 row-cols-md-4 g-2 m-2">
                {% for objet in categorie.objets %}
                     <div class="col">
                        <div class="card p-2">
                            <a href="/objets/{{objet.id}}"><img src="{{ asset('uploads/'~ objet.image) }}" alt="" class="width100"></a>
                            <div class="card-body">
                                <a href="/objets/{{objet.id}}">
                                    <h5 class="card-title">{{ objet.nom }}</h5>
                                </a>
                                <div class="row">
                                    <small>Propriétaire : {{ objet.user.prenom }} {{ objet.user.nom }}</small>
                                    <small>Points : {{ categorie.points }}</small>
                                </div>
                                <p class="card-text">{{ objet.description|striptags|u.truncate(150, '...', true)|raw }}</p>
                                <a href="/emprunt/{{ objet.id }}" class="btn btn-info">Réserver</a>
                    </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}